@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import './variables';
@import './global';

header {
  display: flex;
  padding: 0 5%;
  align-items: center;
  justify-content: space-between;
  .nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;

    .nav-link {
      margin: 0 0.7rem;
      a {
        color: #fff;
        font-size: 1rem;
        font-weight: $regular;
        text-decoration: none;
      }
    }
  }
}

.main-container {
  background-image: url('../Images/bg.jpg');
  background-position: center center;
  background-size: cover;
}
main {
  width: 100%;
  padding: 8% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  #form {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    #input,
    #search-btn {
      font-weight: $regular;
      padding: 0.5em 0.7em;
      border: none;
      outline: none;
    }
    #input {
      height: 100%;
      width: 80%;
      font-family: inherit;
      font-size: 1rem;
      border-radius: $border-radius;
    }
    #search-btn {
      height: 100%;
      font-size: 1.4rem;
      color: #fff;
      border-radius: 0 $border-radius $border-radius 0;
      background-color: var(--primary-color);
      cursor: pointer;
    }
  }
  .weather {
    max-width: 30vw;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: #fff;
      font-size: 4rem;
      line-height: 1.3em;
      font-weight: $bold;
    }
    .weather-desc {
      color: #fff;
      font-size: 1.5rem;
      font-weight: $semi-bold;
    }
    h5 {
      color: #fff;
    }
  }
}
h5 {
  color: var(--secondary-color);
  font-size: 0.8rem;
  font-weight: $bold;
  span {
    color: var(--primary-color);
  }
}
section {
  position: relative;
  padding: 5%;
  background-color: var(--bg-color);
  transition: all 0.5s ease-in;
}

.air-quality-card {
  .card-cols {
    .col-1 {
      h1 {
        color: var(--primary-color);
        font-size: 5rem;
        font-weight: $bold;
      }
      h3 {
        color: var(--primary-color);
        font-size: 2rem;
        font-weight: $bold;
      }
    }
  }
}

@import './media-queries';
